.mdl-layout__title, .mdl-layout-title {
	font-size: 24px;
}
.layout-back-btn {
	position:absolute;
	height:48px;
	width:48px;
	margin:8px 12px;
	z-index: 3;
}
@media screen and (max-width: 1024px) {
	.layout-back-btn {
		margin:4px 12px;
	}
}

.contact-list > table {
	margin: auto auto 52px;
}
.mdl-data-table th {
	font-size: 16px;
}
.contacts-table tbody tr td:nth-child(2) {
	cursor: pointer;
}

footer {
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 2;
}
.mdl-mini-footer {
	padding-top: 4px;
	padding-bottom: 4px;
}
footer .mdl-button {
	margin: 4px;
}

.float-btn {
	position: absolute;
	bottom: 74px;
	right: 22px;
}

.mdl-card {
	width: auto;
	max-width: 1000px;
}
.mdl-card .card-contact-detail {
	padding: 20px;
}
.mdl-card .mdl-grid {
	padding: 0;
}
.mdl-card .mdl-cell {
	margin-top: 0;
	margin-bottom: 0;
}

.mdl-textfield {
	width: 100%;
}

.row {
	padding-top: 0;
	padding-bottom: 0;
}
.row .mdl-cell:not(:first-child):not(:last-child) {
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.row .mdl-cell:first-child {
	padding-right: 5%;
}
.row .mdl-cell:last-child {
	padding-left: 5%;
}
.row h6 {
	color: rgba(0,0,0,.54);
	font-weight: 700;
	text-align: right;
	margin-top: 0;
}
.row i {
	color: rgba(0,0,0,.54);
	width: 100%;
	text-align: right;
}

.phones-container,
.attachments-container {
	padding: 20px;
}

hr {
	margin: 0.1em 0;
	border-top: 1px solid rgba(0,0,0,.12);
}

.table-borderless {
	border: 0;
}
.table-borderless td {
	border-bottom: 0;
}
.table-borderless thead {
	border-bottom: 1px solid rgba(0,0,0,.12);
}

.mdl-data-table {
	white-space: initial;
}

.table-title {
	margin-top: 52px;
}

.table-control-panel .mdl-button {
	margin: 0;
	padding: 0 8px;
	min-width: 32px;
}

.mdl-button[disabled][disabled] > i {
	color: rgba(0,0,0,.26);
}

.footer-btns {
	margin-top: 26px;
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.footer-btns .mdl-button {
	margin-right: 10px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	margin: 12% auto 0 auto;
	width: 400px;
	-webkit-animation-name: zoomIn;
	-webkit-animation-duration: 0.4s;
	animation-name: zoomIn;
	animation-duration: 0.4s
}
.modal-content h4 {
	margin: 10px;
}
.modal-header {
	text-align: center;
}
.modal-body {
	padding: 20px 40px 0 40px;
}
.modal .footer-btns {
	margin-bottom: 10px;
	margin-top: 10px;
}

/*Modal animation*/
@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}
	50% {opacity: 1}
}
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}
	50% {opacity: 1}
}

.mdl-button--file input {
	cursor: pointer;
	height: 100%;
	right: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 300px;
	z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
	box-sizing: border-box;
	width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
	right: 0;
}

.empty-table-msg {
	display: none;
	width: 100%;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,.12);
	padding: 14px;
	font-weight: 400;
	font-size: 13px;
}

.hidden-attachments-container {
	display: none;
}

.img-responsive {
	width: 100%;
	height: auto;
}
.avatar-container {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.avatar-overlay {
	display: none;
	background: rgba(0,0,0,0.26);
	border-radius: 50%;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	cursor: pointer;
}
.avatar-overlay:before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: 0;
	height: 100%;
}
.avatar-overlay i {
	font-size: 40px;
	color: white;
	vertical-align: middle;
	display: inline-block;

	-webkit-animation-name: zoomIn;
	-webkit-animation-duration: 0.2s;
	animation-name: zoomIn;
	animation-duration: 0.2s;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.avatar-overlay:focus {
	outline: none;
}

.search-box {
	padding-left: 40px;
	padding-right: 40px;
}

.contacts-col-email {
	display: none;
}

.email-to {
	display: inline-block;
}
.email-recipients {
	display: inline-block;
}
.email-recipient {
	margin-left: 4px;
	margin-right: 4px;

	-webkit-animation-name: zoomIn;
	-webkit-animation-duration: 0.4s;
	animation-name: zoomIn;
	animation-duration: 0.4s;
}
.email-to-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.email-templates {
	border: 1px solid rgba(0,0,0,.12);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.modal-dialog {
	z-index: 4;
}
.modal-dialog .modal-content {
	min-height: 100px; width: 300px; margin-top: 20%;
}
.modal-dialog .modal-body {
	word-wrap: break-word;
}

.error-block {
	display: inline-block;
	margin-top: 12%;
	width: 100%;
	text-align: center;
	color: #9e9e9e;
}
.error-block img {
	height: 128px;
	width: 128px;
}